body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, white, #FCC981, #F8C8DC), linear-gradient(to top right, #F8C8DC, #F699CD, #FCC981);
	height: 100vh;
}

.navbar {
	background-color: transparent;
	overflow: hidden;
	padding-top: 2%;
	padding-right: 4%
}

.navbar img{
	width: 4%;
}

.navbar a{
	display: flex;
	float: center;
	color: #707070;
	text-align: center;
	padding: 14px 16px;
 	text-decoration: none;
	font-size: 24px;
} 

.navbar a:hover {
  color: #FFFFFF;
}

.navbar button{
	background-color: white;
	border: none;
	color: #707070;
	border-radius: 6px;
	margin-right: 40px;
}

h2, h4 {
    padding-top: 2%;
    text-align: center;
}

form {
	margin-top: 2%;
	margin-left: 5%;
	margin-right: 5%;
}
