body {
    margin: 0;
    padding: 0;
    background: linear-gradient(to top left, white, #FCC981, #F8C8DC), linear-gradient(to top right, #F8C8DC, #F699CD, #FCC981);
	height: 100vh;
}

.navbar {
	background-color: transparent;
	overflow: hidden;
	padding-top: 2%;
	padding-right: 4%
}

.navbar img{
	width: 4%;
}

.navbar a{
	display: flex;
	float: center;
	color: #707070;
	text-align: center;
	padding: 14px 16px;
 	text-decoration: none;
	font-size: 24px;
} 

.navbar a:hover {
  color: #FFFFFF;
}

.navbar button{
	background-color: white;
	border: none;
	color: #707070;
	border-radius: 6px;
	margin-right: 40px;
}

.container {
    width: 100%;
}

.poster {
    text-align: center;
    display:flex;
    justify-content:center;
}

.poster img {
    width:90%;
}

.info {
    color: black;
    text-align: center;
}

.metrics {
    position: absolute;
    width:100%;
    top: 5%;
    text-align: center;
    visibility: hidden;
}

.row .poster:hover .photo {
    background-color: black;
}

.row .poster:hover .metrics {
    visibility: visible;
    color: black;
}

.row .poster:hover .photo {
    opacity: 0.3;
}
